<!-- footer -->
<div class="footer">
	<div class="footer-grids">
		<div class="footer-top">
			<div class="footer-top-nav">
				<ul>
					<li><a href="/about">关于我</a></li>
					<li><a href="/press">Press</a></li>
					<li><a href="/copyright">版权</a></li>
					<li><a href="/creators">创作</a></li>
					<li><a href="#">建议</a></li>
					<li><a href="/developers">开发者</a></li>
				</ul>
			</div>
			<div class="footer-bottom-nav">
				<ul>
					<li><a href="/terms">组</a></li>
					<li><a href="/privacy">隐私</a></li>
					<li><a href="#small-dialog4" class="play-icon popup-with-zoom-anim">发送反馈</a></li>
					<li><a href="/privacy">安全 & 政策</a></li>
					<li><a href="/try">立即开始</a></li>
				</ul>
			</div>
		</div>
		<div class="footer-bottom">
			<ul>
				<li><a href="/history" class="f-history">History</a></li>
				<li><a href="#small-dialog5" class="play-icon popup-with-zoom-anim f-history f-help">Help</a></li>
			</ul>
		</div>
	</div>
</div>
<!-- footer -->
<!-- //footer -->
		</div>
		<div class="clearfix"> </div>
	<div class="drop-menu">
		<ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu4">
		  <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Regular link</a></li>
		  <li role="presentation" class="disabled"><a role="menuitem" tabindex="-1" href="#">Disabled link</a></li>
		  <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Another link</a></li>
		</ul>
	</div>
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="js/bootstrap.min.js"></script>
    <!-- Just to make our placeholder images work. Don't actually copy the next line! -->
  </body>
</html>